data/oecd/CPI-2021.csv filter=lfs diff=lfs merge=lfs -text
data/oecd/UE-2021.csv filter=lfs diff=lfs merge=lfs -text
data/mortality-fr/2021-05-21_deces_quotidiens_departement_csv.txt filter=lfs diff=lfs merge=lfs -text
